body {
    background-color: #03051c;
}
.nav {
    margin: 10px;
    list-style: none;
    width: auto;
    height: 70px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.nav li {
    display: inline;
    margin-right: 5rem;
}
.nav a {
    color: white;
    text-decoration: none;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    position: relative;
}
#circulo {
    height:700px;
    width:700px;
    background:#2a2b3d;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:350px;
    
}
#rectangle {
    width: 900px; 
    height: 200px; 
    text-align: center;
    background: #2a2b3d;
    position: absolute;
    border-radius: 10px;
    bottom: -150px;
} 
.redes {
    width: 180px;
    height: 100px;
    background-color: white;
    margin: 50px;
    display: inline-block;
}

h1{
    text-align: center;
    color: #35b0bf;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.about {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.about p {
    color: aliceblue;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    
}

.card img {
    width: 60px;
    height: 60px;
}
.cards {
    height: 100%;
    width: 100%;
    text-align: center;
}
.card {
    background-color: aliceblue;
    color: gray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20PX;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(233, 217, 217, 0.2);
}
.container {
    padding: 2px 16PX;
}
/********************/
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}
.habilidades {
    
    margin-left: 20%;   
        
    
}
.habilidades p {
    color: aliceblue;
    
}
/* Container for skill bars */
.bar {
  
  width: 70%; /* Full width */
  background-color: #ddd; /* Grey background */
  
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.web-design {width: 90%; background-color: #35b0bf;} 
.interaction-design {width: 80%; background-color: #35b0bf;} 
.ux {width: 65%; background-color: #35b0bf;}

.portafolios {
    height: 100%;
    width: 100%;
    text-align: center;
}
.portafolio {
    
    display: inline-block;
    margin: 45PX;
}
.contacto {
    text-align: center;
    
}
.datos {
    width: 150PX;
    height: 150px;
    background-color: white;
    display: inline-block;
    margin: 30px;
    vertical-align: middle;
}
.footer {
    width: 100%;
    height: 100px;
    background-color: #2a2b3d;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}
.footer p {
    text-align: center;
    color: #35b0bf;
}
